#mainNav {
  position: static;
  border-bottom: 1px solid $grey;
  margin-bottom: 30px;
}

#mainNav .navbar-brand:hover {
  color: $light-black;
}

#mainNav .navbar-brand {
  padding-left: 0;
  color: $light-black;
  font-weight: 600;
}

#mainNav .navbar-nav > li.nav-item > a {
  color: $light-black;
}

