// Slight button.
.btn-slight {
  color: #bfbfbf;
  background-color: #FFFFFF;
  border-color: #bfbfbf;
}

.btn-slight:hover,
.btn-slight:focus,
.btn-slight:active,
.btn-slight.active,
.open .dropdown-toggle.btn-slight {
  color: #a8a8a8;
  background-color: #fff;
  border-color: #a8a8a8;
}

.btn-slight:active,
.btn-slight.active,
.open .dropdown-toggle.btn-slight {
  background-image: none;
}

.btn-slight.disabled,
.btn-slight[disabled],
fieldset[disabled] .btn-slight,
.btn-slight.disabled:hover,
.btn-slight[disabled]:hover,
fieldset[disabled] .btn-slight:hover,
.btn-slight.disabled:focus,
.btn-slight[disabled]:focus,
fieldset[disabled] .btn-slight:focus,
.btn-slight.disabled:active,
.btn-slight[disabled]:active,
fieldset[disabled] .btn-slight:active,
.btn-slight.disabled.active,
.btn-slight[disabled].active,
fieldset[disabled] .btn-slight.active {
  background-color: #fff;
  border-color: $slight-grey;
}

// Dark danger
.btn-dark-danger {
  color: #ffffff;
  background-color: #8F1A2D;
  border-color: #8F1A2D;
}

.btn-dark-danger:hover,
.btn-dark-danger:focus,
.btn-dark-danger:active,
.btn-dark-danger.active,
.open .dropdown-toggle.btn-dark-danger {
  color: #ffffff;
  background-color: #751525;
  border-color: #8F1A2D;
}

.btn-dark-danger:active,
.btn-dark-danger.active,
.open .dropdown-toggle.btn-dark-danger {
  background-image: none;
}

.btn-dark-danger.disabled,
.btn-dark-danger[disabled],
fieldset[disabled] .btn-dark-danger,
.btn-dark-danger.disabled:hover,
.btn-dark-danger[disabled]:hover,
fieldset[disabled] .btn-dark-danger:hover,
.btn-dark-danger.disabled:focus,
.btn-dark-danger[disabled]:focus,
fieldset[disabled] .btn-dark-danger:focus,
.btn-dark-danger.disabled:active,
.btn-dark-danger[disabled]:active,
fieldset[disabled] .btn-dark-danger:active,
.btn-dark-danger.disabled.active,
.btn-dark-danger[disabled].active,
fieldset[disabled] .btn-dark-danger.active {
  background-color: #8F1A2D;
  border-color: #8F1A2D;
}

.btn-dark-danger .badge {
  color: #8F1A2D;
  background-color: #ffffff;
}

// Middle button.
.btn-slight .badge {
  color: #fff;
  background-color: $slight-grey;
}

.btn-middle {
  padding: 0.25rem 0.7rem;
  line-height: 1.2;
}
