.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none;
}

.form-control::-webkit-input-placeholder {
  color: #bbb;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #bbb;
  opacity: 1;
}

.form-control::placeholder {
  color: #bbb;
  opacity: 1;
}
